.container {
  max-width: 800px;
  margin: 0 auto;
}

.container > h1 {
  text-align: center;
}

.userContainer{
  display: flex;
  align-items: center;
  margin: 1rem auto;
}

.userContainer > img{
  border-radius: 50%;
}

.userContainer > h3{
  margin: 0 1rem;
}

.userContainer > a{
  text-decoration: underline;
  color: teal;
}