.userContainer{
	max-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
	margin: 0 auto;
	border: 1px solid teal;
	padding: 1rem;
	margin-top: 5rem;
	border-radius: 1rem;
	color: teal;
}

.userContainer > img{
	border-radius: 50%;
	max-height: 250px;
	max-width: 250px;
	margin: 0 auto;	
}

.userContainer > h3:first-child{
	text-transform: uppercase;
}

.userContainer > a{
	text-decoration: underline;
	font-weight: bold;
}